
<div class="container container-main col-12">

  <h1 class="mb-4 mt-4 d-flex justify-content-start">Listings</h1>

          <div class="flex-container">
            <%= form_with url: listings_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a property"%>
            <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>
          </div>


  <hr size="2px" width="100%" color="gray">
    <div class="row justify-content-between">
        <div class="col-4">
          <h3 class="mb-4"> Current Lists</h3>
        </div>
          <div class="col-4 d-flex justify-content-end">
            <%= link_to "Add new list", new_listing_path, class:"btn btn-primary add-list btn-md mb-4" %>
          </div>
    </div>
  <p>Below are the lastest homes which have been bidded on. Select a home and make a bid.</p>


  <div id="listings" class="row display-flex flex-wrap-wrap">
  <% @listings.each do |listing| %>
  <div class="col-md-4 mt-1">
    <div class="card">
       <%= cl_image_tag listing.image.key, crop: :fill, class:"card-img-top" %>
        <h4><%= listing.title %></h4>
        <p><%= listing.description %></p>
        <p>$<%= listing.price.round(0) %></p>
          <div class="card-body">
            <h4 class="card-title"><strong><%= listing.title %></strong></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= listing.description %></h6>
            <p class="card-text"> <strong>$<%= listing.price %></strong></p>
            <%= link_to  "View Home", listing, class:"btn btn-primary" %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
