<div class="container">
  <h1 class="mt-4"><%= @listing.title %></h1>
  <h3 class="mb-4 text-muted">36 Warren Avenue, North Kingscliff, New South Wales, 2280</h3>
  <p>5 Bedroom | 4 Bathroom | 4 Car garage | Swimming pool | Million dollar views</p>

  <div id="listing" class="row display-flex flex-wrap-wrap">
    <div class="card-profile">
        <div class="profile-img">
          <%= cl_image_tag @listing.image.key, crop: :fill, class:"img" %>
        </div>
        <div class="profile-content mt-4">
          <h4 class="card-title mb-2"><%= @listing.title %></h4>
          <p class="card-subtitle mb-2"><%= @listing.location %></p>
          <p class="card-subtitle mb-2"><%= @listing.description %></p>
          <p class="card-text">$<%= @listing.price.round(0) %></p>
          <%= link_to "Make bid", new_listing_bid_path(@listing), class:"btn btn-primary btn-lg" %>
        </div>
    </div>
  </div>
</div>
<%# h1 title %>
<%# Address of place  %>
<%# img of place %>
<%# description of place %>
<%# Create bid button %>
