<p style="color: green"><%= notice %></p>
<div class="container col-12">
<h1>Welcome to your bids</h1>
  <div id="bids" class="row display-flex flex-wrap-wrap">
  <% @bids.each do |bid| %>
  <div class="col-md-4 mt-1">
    <div class="card">
     <%= cl_image_tag bid.listing.image.key, crop: :fill, class:"card-img-top" %>
        <h4><%= bid.listing.title %></h4>
        <p><%= bid.listing.description %></p>
        <p>Listing price: $<%= bid.listing.price %></p>
        <p>Your bid: $<%= bid.value %></p>
        <p>bid status: <%= bid.status %></p>
          <div class="card-body">
            <%= link_to  "Show this Listing", listing_path(id: bid.listing.id), class:"btn btn-primary" %>
          </div>
        </p>
      </div>
    </div>
  <% end %>
</div>
<%# <%= link_to "New listing", new_listing_path, class:"btn btn-primary" %>
</div>
