<div class="container col-12">
<h1>Listings</h1>
  <div id="listings" class="row display-flex flex-wrap-wrap">
  <% @listings.each do |listing| %>

  <div class="col-md-4 mt-1">
    <div class="card">
       <%= cl_image_tag listing.image.key, crop: :fill, class:"card-img-top" %>
        <h4><%= listing.title %></h4>
        <p><%= listing.description %></p>
        <p>$<%= listing.price.round(0) %></p>
        <%# <% if listing.bid? %>
        <%# <%=listing.bid.value %> %>
        <%# <% end %> %> %>


        <%# if there is a bid
        display it %>
          <div class="card-body">
            <%= link_to  "Show this Listing", listing, class:"btn btn-primary" %>
            <%= link_to "accept", listing, class:"btn btn-primary" %>
          </div>
        </p>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "New listing", new_listing_path, class:"btn btn-primary" %>
</div>
